[Unit]
Description=Wormhole API Service
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/bin/bash ___EXEC_START_PATH___
ExecStop=/bin/bash ___EXEC_STOP_PATH___
TimeoutStopSec=120s
User=root
# video for RPI hardware access (/dev/vcio);
SupplementaryGroups=video
# Allow child processes to send notifications
NotifyAccess=all
Restart=on-failure
RestartSec=15s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target